#dealsBlock1 {
  display: flex;
}
#dealsBlock1 {
  display: flex;
  flex-wrap: wrap;
  /* gap: 2%; */
  justify-content: space-evenly;
}
/* img {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
} */
/* img:hover {
    width: 100.5%;
    transition: 1s;
} */
#discountBlock1,
#discountBlock2 {
  display: flex;
  justify-content: space-between;
  /* flex-grow: 1; */
  flex-wrap: wrap;
}
#discountBlock2 {
  display: flex;
  width: 100%;
}
#spinScratch {
  display: flex;
  justify-content: space-between;
}
#features {
  display: flex;
  width: 60%;
  margin: auto;
  justify-content: space-around;
}
#feature {
  display: grid;
  margin: auto;
  text-align: center;
}
#feature img {
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
#feature {
  margin-bottom: 3%;
}
#feature:nth-child(1) {
  margin-left: -10%;
  margin-right: -5%;
}
/* #discountSection img:hover {
    width: 49.5%;
} */
#discountSection img {
  justify-content: space-evenly;
}
#discountSection {
  justify-content: space-around;
  padding-left: 1%;
}
#dealsBlock1 img:nth-child(1):hover {
  width: 25%;
}
#dealsBlock1 img:nth-child(2):hover {
  width: 25%;
}
#dealsBlock1 img:nth-child(3):hover {
  width: 25%;
}
#dealsBlock1 img:nth-child(4):hover {
  width: 25%;
}
/* sri */
#section1 > img {
  cursor: pointer;
}
