#paymentBody {
  border: 1px solid red;
  width: 90%;
  margin: auto;
  display: flex;
  gap: 2%;
}
#leftPayment {
  border: 1px solid green;
  width: 75%;
  height: 950px;
}

#paymentOffer {
  width: 100%;
  height: 15%;
  /* border: 1px solid red; */
  display: flex;
}
#paymentOffer1,
#paymentoffer2 {
  width: 50%;
  height: 90%;
  border: 1px dashed grey;
  display: flex;
}
#payment1Img,
#payment2Img {
  width: 20%;
  height: 50%;
  /* border: 1px solid blue; */
  text-align: center;
  margin-top: 9%;
}
#payment1txt,
#payment2txt {
  width: 80%;
  height: 100%;
  border: 1px solid green;
}
#payment1Img > img,
#payment2Img > img {
  width: 50%;
}
#payment1txt > p,
#payment2txt > p {
  font-weight: normal;
  font-size: 15px;
  line-height: 140%;
}
#payment1txt > p > a,
#payment2txt > p > a {
  text-decoration: none;
}
#loyalpoints {
  border: 1px solid red;
  width: 100%;
  height: 200px;
}
#firstL,
#secondL {
  height: 50%;
  width: 100%;
  display: flex;
  border: 1px solid green;
}
.forcheckbox {
  width: 6%;
  border: 1px solid red;
  height: 40%;
  margin-top: 2%;
  margin-left: 2%;
  text-align: center;
}
.forcheckbox > input {
  height: 70%;
  width: 31%;
}
.fortext > p {
  line-height: 10px;
  font-weight: 700;
}
#forColor,
#forColor1 {
  color: grey;
  font-weight: normal;
}
#paymentOption {
  width: 100%;
  height: 500px;
  border: 1px solid orange;
  display: flex;
}
#paymantMethod {
  width: 25%;
  border: 1px solid purple;
  height: 40%;
}
#paymantMethod {
  background-color: #fafafa;
}
#cord > p {
  color: #c0af94;
  font-weight: 700;
}
#cord {
  background-color: white;
  border: 1px solid white;
}
#cardDetails {
  width: 75%;
  height: 90%;
  border: 1px solid red;
}
#cardDetails > input,
#cardDetails > label {
  display: block;
}
#forExp {
  display: flex;
  justify-content: space-between;
  width: 60%;
  height: 10%;
  border: 1px solid orangered;
}
.forMonth {
  width: 30%;
  height: 75%;
}
.forMonth > option {
  padding: 10px;
}
#forcvv {
  height: 62%;
  width: 25%;
}
#cardDetails > p,
#cardDetails > label,
#cardDetails > input,
#forexpCvv,
#btnPayment,
#forExp {
  margin-left: 3%;
}
#addCArd {
  font-size: 19px;
  font-weight: 700;
}
#cardDetails > label {
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 2%;
}
#cardDetails > input {
  width: 60%;
  height: 6%;
  margin-bottom: 2%;
}
#forexpCvv {
  display: flex;
  justify-content: space-between;
  width: 60%;
  /* border: 1px solid red; */
  height: 6%;
}
#btnPayment {
  margin-top: 3%;
  padding: 1%;
  border: none;
  width: 33%;
  background-color: #d5a249;
  color: white;
  font-size: 20px;
}
#rightPayment {
  border: 1px solid pink;
  width: 25%;
  height: 300px;
}
.orderSummary {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: auto;
}
#rightPayment > h3 {
  padding-left: 6%;
}
#sumAll,
#amtPayable {
  font-weight: 700;
  font-size: 18px;
}
