#footerDiv {
  /* border: 1px solid red; */
  width: 100%;
  height: 800px;
}
#firstDivF {
  width: 100%;
  height: 20%;
  border: 1px solid teal;
  display: flex;
  justify-content: space-around;
}
#firstDivF > div {
  height: 100%;
  width: 15%;
  /* border: 1px solid red; */
  text-align: center;
  font-size: 20px;
  margin-top: 1%;
}
#secondDivF {
  /* border: 1px solid rgb(43, 20, 171); */
  height: 420px;
  display: flex;
}
#secondDivF > div {
  width: 25%;
  height: 100%;
  /* border: 1px solid red; */
  margin-left: 3%;
}
#secondDivF > div > a {
  text-decoration: none;
  color: #c4bcb4;
  font-size: 15;
}
#secondDivF > div > p {
  color: #c4bcb4;
  font-size: 18px;
}
#thirdDivF {
  border: 1px solid white;
  width: 95%;
  margin: auto;
}
#fourthDivF {
  width: 95%;
  margin: auto;
  /* border: 1px solid green; */
}
#fourthsub1 {
  display: flex;
  justify-content: space-between;
}
#fourthsub1 > p {
  font-size: 18px;
  color: #c4bcb4;
}
#forbg {
  background-color: #2c4152;
}
#firstDivF > div > img {
  height: 40%;
  width: 30%;
}
#fourtnsub2 {
  /* border: 1px solid red; */
  height: 180px;
  display: flex;
}
#fourtnsub2 > div {
  height: 60%;
  /* border: 1px solid white; */
  width: 10%;
  margin-top: 1%;
}
