* {
    margin: 0;
    padding: 0%;
  }
  #nav {
    display: grid;
    grid-template-columns: auto auto auto;
    border-top: 5px solid #2c4152;
    z-index: 101;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    margin-top: 0;
    position: fixed;
    width: 100%;
  }
  #nav_img {
    padding-left: 12%;
    padding-top: 8%;
  }
  #right_top {
    display: flex;
    margin-left: 50px;
    /* border: 1px solid red; */
  }
  #right_top > a,
  p {
    margin-right: 15px;
    text-decoration: none;
    margin-top: 0px;
  }
  #right_top {
    margin-top: 0px;

    height: 35px;
    margin-left: 100px;
    padding-bottom: 35px;
    color: #406786;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    font-family: SourceSansPro;
    padding-left: 30px;
  }
  #right_top {
    color: black;
  }
  #right_top p:hover{
      color: teal;
      cursor: pointer;
  }
 

  #visit {
    font-family: SourceSansPro;

    background-color: black;
    color: white;
    width: 130px;
    text-align: center;

    height: 30px;
  }
  #depart {
    /* border: 1px solid red; */
    height: auto;
    margin-top: 20px;
    margin-left: 20%;
  }

  #phase {
    height: 40px;
    width: 400px;
    display: flex;
  }

  #phase_t {
    display: flex;
    width: 120%;
    justify-content: space-between;

  }
  /* #phase_t > p {
    /* margin: auto; */
  /* }  */
  .line {
    margin-top: 15px;
    background-color: rgb(155, 142, 142);
    height: 2px;
    width: 100%;
  }

#address{
   
    margin-top: 30px;
    width: 400px;
    height: 80px;
    display: flex;
    font-size: 16px;
    font-family: muli;
    color: #333333;
    font-weight: 700;

}
#address>div>img{
    padding-bottom: 15px;
   
}

#para{
    font-family: muli;
    font-weight: 400;
    font-size: 14px;
    color:#666666;
    
}
#appendid{
    margin-left: 40px;
    width: 200px;
    height: 200px;
}
#appendid>div{
     margin-top: 40px;
}
#appendid>div>h4{
    font-family: muli;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #333333;
}
#appendid>div>p{
    font-family: muli;
    font-size: 14px;
    font-weight: 600;
    Color:#6d6d6d;
    line-height: 16px;
    
}

/* #payment_box{
   
    margin-top: 100px;
    height: 300px;
    width: 290px;
    background-color: rgb(250,250,250);
    
    margin-left: 200px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
#price>div{
    display: flex;
    justify-content: space-between;
}
  #pay_btn{
      border: none;
      height: 50px;
      width: 291px;
      background-color: rgb(221,181,109);
  } */
  /* #container{
      display: flex;
      justify-content: space-evenly;
  } */
  /* #one{
      background-color:rgb(254,251,228);
      color: rgb(20, 89, 97);
      text-align: right;
  }
   */
   #lower{
      
      display: flex;
      justify-content: center;
  }
  .bottom{
      height: 35px;
      display: flex;
      margin-left: 15px;
      
  }
  .bottom>img{
      height: 35px;
      margin: 9px;
     
  }
 .bottom>p{
     margin-top: 2px;
     padding-top:10px;
 } 
  #container{
      display: flex;
      justify-content: space-between;
      padding: 30px 40px;
       margin-top: 6%;
  }
 #payment_main {
    margin-top:50px;
            width: 290px;
                 /* margin-left: 200px; */
        }
  #payment_box {
            padding: 15px;

            width: 89%;
            background-color: rgb(250, 250, 250);

            /* margin-left: 200px; */
            box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
        }

        #price>div {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            font-family: 'SourceSansPro';

        }

        #payment_box>h4 {
            margin-top: 5px;
            margin-bottom: 10px;
            font-size: 16px;
        }
        #bagp{
            margin-right: 20px;
        }

        #price>div>p,
        #price>div>h4 {
            margin-top: 10px;
            margin-bottom: 5px;
        }

        #pay_btn {
            cursor: pointer;
            padding: 15px 40px;
            width: 99%;
            border: transparent;
            color: white;
            font-weight: 600;
            background-color: rgb(221, 181, 109);
        }
         #pay_btn:hover{
             outline: 2px solid rgb(221, 181, 109);
             border: 2px solid rgb(255, 255, 255);
         }



        #one {
            background-color: rgb(254, 251, 228);
            color: rgb(20, 89, 97);
            text-align: right;
            padding: 10px;
            font-size: 12px;
            font-weight: 600;
            font-family: 'SourceSansPro';
        }

 #add_change{
     color:#176c93;
     font-size: 14px;
     font-family: SourceSansPro;
      font-weight: 600;
    }
 
 #expt_delivery{
     display: flex;
 }
 #expt_delivery>div{
     margin-left: 10px;
 }
 #d_para>h3{
     
     font-weight: 00;
     font-size: 16px;
 }
 #d_para>p{
     color: #666666;
     font-weight: 400;
     line-height: 28px;
     font-size: 16px;
 }

  #ordered_items{
      display: flex;
      padding: 20px 40px;
  }
  .ordered_items_div{
      display: flex;
      width:30%;
      justify-content: flex-start;
      gap:15px;
  }
  
  .ordered_items_div>img{
      width:25%;
      border-radius: 10px;
  }
  .ordered_items_div>p{
      font-size: 14px;
      font-weight: 400;
  }
.ordered_items_div span{
      color:gray;
      font-weight: normal;
  }